div{
    height: 30px;
    width: 300px;
    margin: 0px auto;
}
#c1{
    background-color: #f00;
}
#c2{
    background-color: #f20d0d;
}
#c3{
    background-color: #e61919;
}
#c4{
    background-color: #d92626;
}
#c5{
    background-color: #c33;
}
#c6{
    background-color: #bf4040;
}
#c7{
    background-color: #b34d4d;
}
#c8{
    background-color: #a65959;
}
#c9{
    background-color: #966;
}
#c10{
    background-color: #8c7373;
}