*{
    box-sizing: border-box;
    background-color: burlywood;
}
h1{
    color: white;
    text-align: center;
    margin: 30px;
    font-size: 2.5em;
    text-shadow: 0.05em 0.05em black;
    border-bottom: 2px dotted white;
}
.tres{
    overflow: auto;
    margin-bottom: 50px;
}
section{
    float: left;
    width: 33.3%;
    padding: 30px;
    text-align: justify;
}
div{
    padding: 30px;
}