*{
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin: 50px;
}
.tres{
    overflow: auto;
    margin-bottom: 50px;
}
section{
    float: left;
    width: 33.3%;
    padding: 30px;
}
div{
    padding: 30px;
}