<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tutoriales Web</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="fav_icon.png">
</head>

<body>
    <header>
        <h1>Tutoriales Web</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#">HTML5</a></li>
            <li><a href="#">CSS3</a></li>
            <li><a href="#">JAVASCRIPT</a></li>
            <li><a href="#">PHP</a></li>
            <li><a href="#">C#</a></li>
        </ul>
    </nav>
    <article>
        <section>
            <h2>WeB 2.0</h2>
            <div class="dos">
                <p>
                    El término Web 2.0 o Web Social1 comprende aquellos sitios web que facilitan el compartir información, la interoperabilidad, el diseño centrado en el usuario y la colaboración en la World Wide Web (WWW). Un sitio Web 2.0 permite a los usuarios interactuar
                    y colaborar entre sí, como creadores de contenido, en una comunidad virtual. Ejemplos de la Web 2.0 son las comunidades web, los servicios web, las aplicaciones Web, los servicios de red social, los servicios de alojamiento de videos,
                    las wikis, blogs, mashups y folcsonomías. La evolución de las aplicaciones, que pasan de ser estáticas a dinámicas, implica la colaboración del usuario. El término Web 2.0 está asociado estrechamente con Tim O'Reilly, debido a la conferencia
                    sobre la Web 2.0 de O'Reilly Media en 2004 Aunque el término sugiere una nueva versión de la World Wide Web, no se refiere a una actualización de las especificaciones técnicas de la web, sino más bien a cambios acumulativos en la forma
                    en la que desarrolladores de software y usuarios finales utilizan la Web. En conclusión, la Web 2.0 nos permite realizar trabajos colaborativos entre varios usuarios o colaboradores. Las herramientas que ofrece la web 2.0 colabora
                    para mejorar los temas en el aula de clase, tanto para docentes como estudiantes y también pueden utilizarse para el trabajo en una empresa. El trabajo "colaborativo" está tomando mucha importancia en las actividades que se realizan
                    en internet.
                </p>
                <p>
                    El término Web 2.0 o Web Social1 comprende aquellos sitios web que facilitan el compartir información, la interoperabilidad, el diseño centrado en el usuario y la colaboración en la World Wide Web (WWW). Un sitio Web 2.0 permite a los usuarios interactuar
                    y colaborar entre sí, como creadores de contenido, en una comunidad virtual. Ejemplos de la Web 2.0 son las comunidades web, los servicios web, las aplicaciones Web, los servicios de red social, los servicios de alojamiento de videos,
                    las wikis, blogs, mashups y folcsonomías. La evolución de las aplicaciones, que pasan de ser estáticas a dinámicas, implica la colaboración del usuario. El término Web 2.0 está asociado estrechamente con Tim O'Reilly, debido a la conferencia
                    sobre la Web 2.0 de O'Reilly Media en 2004 Aunque el término sugiere una nueva versión de la World Wide Web, no se refiere a una actualización de las especificaciones técnicas de la web, sino más bien a cambios acumulativos en la forma
                    en la que desarrolladores de software y usuarios finales utilizan la Web. En conclusión, la Web 2.0 nos permite realizar trabajos colaborativos entre varios usuarios o colaboradores. Las herramientas que ofrece la web 2.0 colabora
                    para mejorar los temas en el aula de clase, tanto para docentes como estudiantes y también pueden utilizarse para el trabajo en una empresa. El trabajo "colaborativo" está tomando mucha importancia en las actividades que se realizan
                    en internet.
                </p>
            </div>
            <aside>
                El término Web 2.0 o Web Social1 comprende aquellos sitios web que facilitan el compartir información, la interoperabilidad, el diseño centrado en el usuario y la colaboración en la World Wide Web (WWW). Un sitio Web 2.0 permite a los usuarios interactuar
                y colaborar entre sí, como creadores de contenido, en una comunidad virtual. Ejemplos de la Web 2.0 son las comunidades web, los servicios web, las aplicaciones Web, los servicios de red social, los servicios de alojamiento de videos,
                las wikis, blogs, mashups y folcsonomías. La evolución de las aplicaciones, que pasan de ser estáticas a dinámicas, implica la colaboración del usuario. El término Web 2.0 está asociado estrechamente con Tim O'Reilly, debido a la conferencia
                sobre la Web 2.0 de O'Reilly Media en 2004 Aunque el término sugiere una nueva versión de la World Wide Web, no se refiere a una actualización de las especificaciones técnicas de la web, sino más bien a cambios acumulativos en la forma
                en la que desarrolladores de software y usuarios finales utilizan la Web. En conclusión, la Web 2.0 nos permite realizar trabajos colaborativos entre varios usuarios o colaboradores. Las herramientas que ofrece la web 2.0 colabora para
                mejorar los temas en el aula de clase, tanto para docentes como estudiantes y también pueden utilizarse para el trabajo en una empresa. El trabajo "colaborativo" está tomando mucha importancia en las actividades que se realizan en internet.
            </aside>
        </section>
    </article>
    <footer>
        <address>
            <a href="mailto:sergio.lopez.cardin@tajamar365.com">sergio.lopez.cardin@tajamar365.com
            </a>
        </address>
    </footer>
</body>

</html>