body{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
    font-size: 3em;
    margin: 15px;
    text-shadow: 0.05em 0.05em gray;
}
header{
    border-bottom: 2px solid white;
}
.main{
    overflow: auto;
}
p{
    color: white;
    font-size: 1.5em;
}
#p1{
    padding: 50px;
    margin-top: 100px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    float: left;
    width: 42%;
}
#p2{
    padding: 25px;
    margin-left: 40px;
    float: left;
    width: 42%;
}
#p3{
    padding: 50px;
}