*{
    box-sizing: border-box;
    background-color: burlywood;
}
h1{
    color: white;
    text-align: center;
    margin: 30px;
    font-size: 2.5em;
    text-shadow: 0.05em 0.05em black;
    border-bottom: 2px dotted white;
}
.tres{
    display: flex;
    flex-direction: row;
    width: 100%;
}
section{
    flex: 1 1 10%;
}
section:hover{
    flex: 2 1 10%;
}
div{
    padding: 30px;
}