body {width: 90%;
            margin: 3em auto;}
      table {width: 80%;
            margin: 3em auto;
            border: 1px solid black;
            border-collapse: collapse;
      }
      table:hover {
          border-collapse: separate;
          border-spacing: 10px;
      }
      tr { margin: 10em;}
      th, td {border: 1px solid black;}
      td {background-color: beige;
         margin: 10em;
         padding: 1em 3em;
         text-align: center;}